@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "sans serif";
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(227, 221, 217);
}

.logo {
  margin-bottom: 3rem;
}

main {
  width: 90%;
  margin: 1rem auto;
}

.flex-container,
.flex-container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 1rem -1rem;
}

.card {
  box-sizing: border-box;
  margin: 10px;
  padding: 0.75rem;
  flex-basis: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(181, 129, 108, 0.8) 0px 8px 34px -25px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.details {
  padding: 0.5rem;
}

.card__title {
  margin-bottom: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}
.card__description {
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 400;
}
.card__price {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2px;
  color: #8b0e0e;
}

.card__image {
  border-radius: 0.5rem;
}

.mipedido__container {
  box-sizing: border-box;
  margin: 10px;
  padding: 1.25rem;
  flex-basis: calc(50% - 2rem);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(181, 129, 108, 0.8) 0px 8px 34px -25px;
  border-radius: 0.5rem;
}

.mipedido__container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.mipedido__details {
  display: grid;
  grid-template-columns: 3fr 48px auto;
  row-gap: 1rem;
  column-gap: 1rem;
}

.mipedido__details-precio {
  justify-self: end;
  grid-column-start: 3;
}

.mipedido__details-cantidad {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 4px 8px;
  width: 48px;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(181, 129, 108, 0.8);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.5) 0px 0px 0px 1px;
}
.mipedido__details-total {
  font-weight: 700;
  color: #8b0e0e;
}

.form__container {
  display: grid;
  grid-template-columns: auto 2fr;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
}

.form__container input {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 4px 8px;
  width: 100%;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(181, 129, 108, 0.8);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.5) 0px 0px 0px 1px;
}

.form__container .form__submit {
  grid-column-start: 2;
  font-size: 1rem;
  line-height: 1.8rem;
  width: 140px;
  border: unset;
  border-radius: 4px;
  background-color: #8b0e0e;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.5) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form__container .form__submit:hover {
  background-color: #8b3636;
}

.form__container .form__submit:active {
  translate: 1px 1px;
}

@media only screen and (max-width: 720px) {
  .card {
    margin: 10px;
    padding: 0.75rem;
    flex-basis: 100%;
  }

  .flex-container-form {
    flex-direction: column;
  }
}

.error {
  border: solid 1px #8b0e0e !important;
  background-color: rgba(181, 129, 108, 0.3) !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.dialog__content {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
}

.dialog__content .dialog__cerrar {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.dialog__content img {
  width: 82px;
  margin-bottom: 15px;
}
.dialog__content p {
  margin-bottom: 40px;
  font-size: 18px;
}

.dialog__content .dialog__aceptar {
  background-color: #8b0e0e;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px #8b0e0e;
}
.dialog__content .dialog__aceptar {
  background-color: #8b3636;
}

.dialog__content .dialog__aceptar:active {
  translate: 1px 1px;
}
